.burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: $color-dark;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: $color-dark;
      transition: transform 300ms;
    }
    &:before {
      top: -6px;
    }
    &:after {
      top: 6px;
    }
  }
  &.burger--active span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(6px, 5px);
    }
    &:after {
      transform: rotate(-45deg) translate(4px, -3px);
    }
  }
}

@media screen and (max-width: 767px) {
  .burger {
    display: flex;
  }
}