@import '../fonts/index.css';
@import './general';

@import './back-to';
@import './breadcrumbs';
@import './burger';
@import './button';
@import './header';
@import './logo';
@import './navigation';
@import './notify';
@import './setting-block';
@import './sidebar-navigation';

/* Access site */

.access-site {
  
  &__breadcrumbs {
    margin-bottom: 8px;
  }
  &__title {
    margin-bottom: 49px;
  }
}
@media screen and (max-width: 991px) {
  .access-site {

    &__title {
      margin-bottom: 40px;
    }
  }
}